*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open sans;
}

header{
    height: 42rem;
    background-color: #B4D0E7;
    /* debug */
    
}

#contParteAltaHeader{
    height: 5rem;
    width: 100%;
    background-color: blue;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.contMenu{
    display: flex;
    align-items: center;
    height: 100%;
    /* debug */
    
    background-color: aqua;
    border: 1px solid black;
}


.menu{
    height: 100%;
    /* debug */
    background-color: bisque;
    border: 1px solid brown;
}
.menu ul{
    display: flex;
    align-items: center;
    height: 100%;
    /* debug */
    background-color: blueviolet;
    
    
}
li{
    list-style-type: none;
}
.menu li{
    height: 100%;
    padding: 13% 5px 0;
    /* debug */
    color: black;
    background-color: yellow;
}

.menu .menuEstremi{
    
}


.containerHeadFootPrincipale{
    width: 65%;
    margin: auto;
    padding-top: 9rem;
    
    
    /* debug */
    height: 100%;
    background-color: rgb(55, 55, 133);
    
}

.contJumboText{
    display: flex;

    /* debug */
    background-color: red;
}

.contJumboText img{
    height: 20rem;
}

footer{
    height: 30rem;
    background-color: black;
    position: 
    /* debug */
}

footer .containerHeadFootPrincipale {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    height: auto;
}
.contColonne{
   width: 10rem;
   height: 17rem;
   /* debug */
   background-color: yellow;

}

/* .containerHeadFootPrincipale .foot:last-child {
    display: inline-block;

} */

.bottomBorderBox{
    width: 3rem;
    height: 20px;
    border-bottom: 1px solid white;
}












