main, footer {
    font-size: 0.8rem;
}

/* sezioni standardizzate contenitore
 dimensioni tutte uguali */
 .containerMain {
    width: 50%;
    margin: 8rem auto;
}

/* contenitore interno generico */
.contaSubSezioni {
    padding: 0 20px;
    margin: 30px auto;
}

h1{
    font-size: 3.5rem;
    padding-bottom: 2rem;
}

h2{
    font-size: 2rem;
    margin: 2rem 0;
}

.faq h2{
    padding-bottom: 3rem;
    border-bottom: 2px solid rgb(186, 186, 186);
    margin-bottom: 0;
}

h3{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

h5 {
    font-size: 5rem;
    height: 100px;
}

h6{
    font-size: 2rem;
}


p {
    padding: 2rem 0;
}

.fa-arrow-down-long{
    font-size: 2rem;
}



li, a{
    list-style-type: none;
    text-decoration: none;
}

main li, footer li { 
    margin: 10px 0;
 }

a{
    color: white;
}

input{
    margin-bottom: 2rem;
}

.bottoni{
    background-color: #0061FF;
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    white-space: nowrap; /* Impedisce al testo di andare a capo */
    
}

.bottoniClass {
    text-align: center;
 }

 .bottoneGrigio{
    text-decoration: none;
    color: grey;
    background-color: white;
    padding: 5px 20px;
    border: 1px solid grey;
}

.bottomBorderBox{
    width: 3rem;
    height: 20px;
    border-bottom: 1px solid white;
}
