main {
    /* debug */
    width: 100%;
}

/* sezioni standardizzate contenitore
 dimensioni tutte uguali */
.containerMain {
    width: 50%;
    margin: 8rem auto;
}

.testoImputRadio{
    margin-right: 1rem;
}

.contGenFlex {
    display: flex;
    justify-content: space-between;
}

.sezAbbonamenti {
    width: calc((100% / 3) - 30px);
    
}

.borderGrey{
    border: 1px solid rgba(140, 140, 140, 0.5);
}

.parteAlta {
    width: 100%;
    height: 2rem;
    border-bottom: 1px solid rgba(140, 140, 140, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.testoIcone{
    font-weight: normal;
    list-style-position: inside;
}


/* contenitore interno generico */
.contaSubSezioni {
    padding: 0 20px;
    margin: 30px auto;
    /* debug */
    /* background-color: red; */
}


main li, footer li { 
    margin-bottom: 10px;
 }


 .bottoniClass {
    text-align: center;
 }



 /* inizio terza parte */
.ridimensionaFoto{
    width: 50%;
}


.containerMain .imgMedia{
    width: 100%;
}

.bottoneGrigio{
    text-decoration: none;
    color: grey;
    background-color: white;
    padding: 5px 20px;
    border: 1px solid grey;
}




.testFlexato{
    width: 50%;
}

.wrappa{
    flex-wrap: wrap;

}

.fotoeDescrizione {
    width: calc(100% / 3);
}


.fotoeDescrizione img{
    width: 100%;
}

.linkNormale{
    color: blue;
    font-size: 1rem;
}

.contBanner{
    height: 25rem;
    width: 100%;
    display: flex;
    /* debug */
    background-color: red;
}

.fotoPartner{
    width: calc(100% / 3);
    height: 100%;
    
    /* debug */
    background-color: pink;
    border: 1px solid black;
    
}

/* inizio banner con i partner */
.contFotoPartner {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contFotoPartner img{
    width: 50%;
}


.foto1{
    background-color: #A2D39B;
}
.foto2{
    background-color: #61082B;
}
.foto3{
    background-color: #0093CE;
}
.foto4{
    background-color: #FF1C1C;
}
.foto5{
    background-color: #D5001F;
}
.foto6{
    background-color: #B4D0E7;
}
.foto7{
    background-color: #0D2481;
}
.foto8{
    background-color: #FFD830;
}


.descrizioneCentrale{
    overflow-x: hidden;
    overflow-y: auto;
    /* debug */
    background-color: rgb(209, 161, 169);
    border: 1px solid black;

}

.bottomBorderBox{
    width: 3rem;
    border-bottom: 1px solid rgba(140, 140, 140, 0.5);
    
}




.contBanner.pubblicita{
    height: 17rem;
    background-color: #B4D0E7;
    display: flex;
    justify-content: center;
    align-items: center;

    /* debug */
    
}



.faqContainer{
    border-bottom: 2px solid rgb(186, 186, 186);
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.faq {
    margin-bottom: 6rem; 
}






