main {
    /* debug */
    width: 100%;
}

/* sezioni standardizzate contenitore
 dimensioni tutte uguali */
.containerMain {
    width: 50%;
    margin: 8rem auto;
}

#inizioAbbonamenti{
    margin-bottom: 2rem;
}

h3{
    font-size: 2rem;
}

.testoImputRadio{
    margin-right: 1rem;
}

.contGenFlex {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.sezAbbonamenti {
    width: calc((100% / 3) - 30px);
    
}

.borderGrey{
    border: 1px solid rgba(140, 140, 140, 0.5);
}

.parteAlta {
    width: 100%;
    height: 2rem;
    border-bottom: 1px solid rgba(140, 140, 140, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.testoIcone{
    font-weight: normal;
    list-style-position: inside;
}
.testoIcone:before{
    content: ' '
}

/* contenitore interno generico */
.contaSubSezioni {
    padding: 0 20px;
    margin: 30px auto;
    /* debug */
    background-color: red;
}


.contaSubSezioni ul { 
    line-height: 180% ;
 }

 h4{
    font-size: 1.5rem;
    padding-bottom: 1rem;
 }
 .bottoniClass {
    text-align: center;
 }



 /* inizio seconda parte */



.ridimensionaFoto{
    width: 50%;
}


.containerMain .imgMedia{
    width: 100%;

    /* debug */
    background-color: blue;
}


.testFlexato{
    width: 50%;
}


.fotoeDescrizione {
    width: 15rem;
}

.fotoeDescrizione img{
    width: 100%;
}

.contBanner{
    height: 25rem;
    width: 100%;
    display: flex;
    /* debug */
    background-color: red;
}

.fotoPartner{
    width: calc(100% / 3);
    height: 100%;
    
    /* debug */
    background-color: pink;
    border: 1px solid black;
    
}


.descrizioneCentrale{
    overflow-x: hidden;
    overflow-y: auto;
    /* debug */
    background-color: rgb(209, 161, 169);
    border: 1px solid black;

}

.bottomBorderBox{
    width: 3rem;
    border-bottom: 1px solid rgba(140, 140, 140, 0.5);
    
}
.contBanner.pubblicita{
    height: 17rem;
    
    /* debug */
    background-color: pink;
}

/* capire perchè non funziona */
.faq strong{
    margin: 1rem 0;
}
.faq .fa-chevron-down{
    /* posizionale le freccie in giu 
    tutte a destra */
}